@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');



.App{
  font-family: 'Cairo', sans-serif;
}

.App-header {
  background-color: hsl(220, 13%, 18%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*landing page */


.landingPage{
  display: flex;
  flex-direction: column;
  background: rgb(173,254,229);
  background: linear-gradient(324deg, rgba(173,254,229,1) 50%, rgba(255,255,255,1) 50%);
  height:100vh;
  border-top: solid;
  border-color: #adb6fe;
 

}
.landingContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 12%;
}
.kanyeBlessed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #adb6fe;
  width: 50%;
  
}
.linkNav{
 color:black;
}
.linkNav:hover{
  color:#fec5ad;
  background-color: black;
}
.inputDiv{
  margin-bottom: 10px;
}
input{
  border-color:#fec5ad ;
  border-style: solid;
  transform: skew(-15deg);
  
}


.bouncingKanye{

  margin-top: 20%;
  margin-left: 12%;
  height: 220px;
  width:40%;
  background-image: url(pngjoy.com_kanye-west-full-body-kanye-west-head-png_4428229.png);
  /* background-size: 600px 600px; */
  background-size: contain;
  background-repeat: no-repeat;

  animation:bouncingKanye 1s infinite;
}
/* 
@keyframes bouncingKanye {
  50%    {transform: rotate(10deg)} 
  0%     {transform: rotate(-10deg)}
  75%    { transform: rotate(10deg)} 
  
} */
@keyframes bouncingKanye {
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Kanye Origins page */
.flipCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: transparent;
  width: 800px;
  height: 600px;
  border-radius: 8px ;
  margin:200px;
  perspective: 1000px;
  
}
.flipCardInside {

  position: relative;
  border-radius: 8px ;
  border-style: solid;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  background-image: url(./jack-van-hel-O3L_-DetWpI-unsplash.jpg);
  background-size: 800px 600px;  
}
.flipCard:hover .flipCardInside {
  transform: rotateY(-180deg);
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.front {
  background-image: url(./Kanye-West-Free-Download-PNG.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 30px;
  border-bottom: springgreen;
  border-radius: 3rem;
  /* background-color: rgb(48, 2, 2); */
  color: black;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 2, 17);
  color: white;
  transform: rotateY(180deg);
}