@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');


.App{
  font-family: 'Cairo', sans-serif;
} 

input{
  border-color:#fec5ad ;
  border-style: solid;
  transform: skew(-15deg); 
  

}

.kanyeOrigins{
  height: 100vh;
}

/* Kanye Origins page */

.flipCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: transparent;
  width: 800px;
  height: 600px;
  border-radius: 8px ;
  margin:200px;
  perspective: 1000px;
  
}
.flipCardInside {

  position: relative;
  border-radius: 8px ;
  border-style: solid;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  background-image: url(./jack-van-hel-O3L_-DetWpI-unsplash.jpg);
  background-size: 800px 600px;  
}
.flipCard:hover .flipCardInside {
  transform: rotateY(-180deg);
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.front {
  background-image: url(./Kanye-West-Free-Download-PNG.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 30px;
  border-bottom: springgreen;
  border-radius: 3rem;
  /* background-color: rgb(48, 2, 2); */
  color: black;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 2, 17);
  color: white;
  transform: rotateY(180deg);
}